WUNDERGROUND_API_KEY: HELLO
SECRET_KEY_BASE: 70c6df4e2a1788c9d79453169ffbf1dde4e6f5bfa91a68d1f408e32b0adf333bf61795bdd9d9c211653467f3cc6db5b791e112b840f2ebbeb86b5fd6c1ad7444
SALT: 123
WEB_HOST: 
GOOGLE_MAP_API_KEY: 
WEBHOOK_SLACK_URL: URL
WEBHOOK_EMAIL_SENDER: "notifier <notifier@example.com>"
WEBHOOK_EMAIL_RECIPIENT: "email@example1.com,email@example2.com"